# Служебные каталоги
_Reports/
_ErrorImage/

# Файл статуса прохождения теста
BuildStatus.log

# Файл настроек
*.json

# Перезаписываемые во время тестов файлы
Макеты/ВА_ИмпортExcel_Шаблон.xls

# Служебные файлы
*.os
